body{
    padding: 100px;
}
.submit-area{
    margin-top: 50px;
    padding: 40px;
    border-radius: 10px;
    box-shadow: 5px 5px 15px gray; 
}

.status{
    margin: 0px 20px;
    padding: 30px;
    border-radius: 20px;
    color: white;
}

.deposit{
    background-color: slateblue;
}

.withdraw{
    background-color: lightsalmon;
}
.balance{
    background-color: orange;
}

#transaction-area{
    display: none;
}